




#filelist{
    width: 125px;
    float: left;
    padding: 15px 0 15px 15px;
    height: 100%;
}
.sidebar-nav {
    position: fixed;
    width: 190px;
    left: 0px;
    bottom: 0;
    top: 32px;
    background: #ccc;
   /* padding: 10px 15px;*/
    z-index: 10;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.navbar-layoutit {
    min-height: 32px;
    padding: 5px;
    height:33px;
}
body {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 200px;
    -webkit-transition: margin 500ms ease;
    -moz-transition: margin 500ms ease;
    -ms-transition: margin 500ms ease;
    -o-transition: margin 500ms ease;
    transition: margin 500ms ease;
}

.navbar-layoutit .navbar-brand {
    width: 180px;
    color: #fff;
    padding: 0;
    margin: 0 5px;
}

.navbar-layoutit .navbar-brand .label {
    position: relative;
    left: 10px;
    top: -3px;
    font-weight: normal;
    font-size: 9px;
    background: #666;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
}